input,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #0099ff;
  background: #ffffff;
  color: rgb(0, 0, 0);
  resize: none;
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #0047df;
}

button {
  width: 100%;
  align-self: center;
  background: #0099ff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 32px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s ease;
}

button:hover {
  background: #006eff;
  transform: scale(1.01);
}

.user-list {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-card {
  background-color: #ffffff;
  border-left: 3px solid #0099ff;
  border-radius: 8px;
  padding: 10px 15px;
  color: #eaeaea;
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-shadow: 0 0 8px rgba(138, 43, 226, 0.2);
}

.user-card strong {
  display: block;
  color: #0099ff;
  margin-bottom: 4px;
}

.user-card small {
  color: #303030;
  font-size: 0.9rem;
}

.user-card p {
  margin-top: 8px;
  color: #303030;
  font-size: 0.95rem;
}

