.post-card {
  width: 100%;
  background: #ffffff;
  border: 1px solid #0099ff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 8px rgba(138, 43, 226, 0.2);
  text-align: left;
}

.post-card small {
  padding-right: 40%;
}

.post-card a {
  text-decoration: none;
  font-weight: bold;
  color: #0099ff;
}

.post-card small{
    color: #000000b0;
}